//variables de colores
$bg: #fff;
$lightyellow: lightyellow;
$black: #000;
$primary: #523604;
$secondary: #966219;
$sucess: #1e7833;
$warning: #3a5003;
$info: #6e2a1c;

//textos nav
$nav-tabs-link-active-color: $black;
$nav-link-color: $secondary;
$nav-link-hover-color: $black;
//bg nav
$nav-tabs-link-active-bg: $secondary;
$nav-tabs-link-active-ng: $secondary;



//buttons
$btn-border-radius:45%;

//table
$table-bg: $secondary;

//form
$input-bg: $secondary;
$input-placeholder-color: $black;

//carousel
$carousel-control-color: $lightyellow;
$carousel-control-icon-width: 50rem;
$carousel-transition-duration: 5s;


//card
$card-bg: $secondary;
$card-border-radius: 10%;

