<div class="container bg-rosa" style="max-width: 80%;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buttons">botones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tabla">table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/form">register</a>
        </li>
    </ul>
    <router-outlet></router-outlet>

    <h2>Carousel</h2>
    <div class="cardCarousel parallax">
        <app-carousel></app-carousel>
        <br>
        <div>
          <app-cards></app-cards>
        </div>
        <br><br>
    </div>
</div>